@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

.RecordContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
}

.record-title {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    font-style: normal;
    /* padding-left: 50px; */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    gap: 20px;
    padding: 10px;
    font-size: 60;
    .Entry {
        height: 40px;
        font-size: large;
        border: 2px black solid;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 5px;
    }
    span{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .SubmitButton {
            width: 40%;
            font-size: 15px;
            margin: 0px auto;
            height: 35px;
            border-radius: 10px;
            background-color: rgba(15, 167, 43, 0.832);
            color: aliceblue;
            cursor: pointer;
            transition: all 0.3s linear;
            &:hover {
                background-color: rgba(5, 158, 33, 0.832);
                box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
            }
        }
        .BackButton{
            width: 40%;
            font-size: 15px;
            margin: 0px auto;
            height: 35px;
            border-radius: 10px;
            background-color: rgba(133, 32, 32, 0.728);
            color: aliceblue;
            cursor: pointer;
            transition: all 0.3s linear;
            &:hover {
                background-color: rgba(119, 29, 29, 0.728);
                box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
            }
        }
    }
}

.fitness-form {
    display: flex;
    flex-direction: column;
    /* height: 60px; */
    padding: 20px;
    background-image: url('../Images/fitness_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow-y: auto;
}