.profileContainer {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: url('../Images/profile_background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
}

.profileDetails {
    background-color:rgba(147, 243, 227, 0.423);
    box-shadow:none;
    border-radius: 8px;
    border: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content:right;
    margin-left: 5%;
    width: 30%;
}

.Values{
    align-items: center ;
    
}

.Labels {
    font-weight: bold;
    margin-left: 0px;
    align-items: center;
}

.profileDetails p {
    display: flex;
    justify-content: space-between;
}

.profileDetails input,
.profileDetails select {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.buttonContainer{
    padding:20px;
    button {
        margin-top: 10px;
        margin-left: 4px;
        row-gap: 10px;
        background-color: #2f9a87;
        padding: 5px 10px;
        
    }
}
